
<div class="main_container">

  <div class="col-md-3 left_col">
    <div class="left_col scroll-view">

      <div class="navbar nav_title" style="border: 0;">
        <a href="index.html" class="site_title"><i class="fa fa-spinner"></i> <span>OpenCap</span></a>
      </div>
      <div class="clearfix"></div>
    
      <br />

      <!-- sidebar menu -->
      <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

        <div class="menu_section">
          <h3>General</h3>
          <ul class="nav side-menu">
            <li><a><i class="fa fa-home"></i> Inicio <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li><a href="index.html">Dashboard</a>
                </li>                
              </ul>
            </li> 
          </ul>
        </div>        

        <div class="menu_section">
          <h3>Cliente</h3>
          <ul class="nav side-menu">
             
            <li><a><i class="fa fa-building"></i> Empresas <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li>
                  <%=link_to "Nuevo Empresa", new_company_path %>
                </li>
                <li>
                  <%=link_to "Listar Empresa", companies_path %>
                </li>
              </ul>
            </li>          
            <li><a><i class="fa fa-group"></i> Personas <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li>
                  <%=link_to "Nuevo Clientes", new_employee_path %>
                </li>
                <li>
                  <%=link_to "Listar Clientes", employees_path %>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <div class="menu_section">
          <h3>Garantia</h3>
          <ul class="nav side-menu">
            <li><a><i class="fa fa-automobile"></i> Motor <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li>
                  <%=link_to "Nuevo Motor", new_motor_path %>
                </li>
                <li>
                  <%=link_to "Listar Motor", motors_path %>
                </li>
              </ul>
            </li>
            <li><a><i class="fa fa-home"></i> Residencias <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li>
                  <%=link_to "Nueva Residencia", new_residence_path %>
                </li>
                <li>
                  <%=link_to "Listar Residencia", residences_path %>
                </li>
              </ul>
            </li>
            <li><a><i class="fa fa-tasks"></i> Otros <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li>
                  <%=link_to "Nuevo Otros", new_other_path %>
                </li>
                <li>
                  <%=link_to "Listar Otros", others_path %>
                </li>
              </ul>
            </li>
          </ul>
        </div>

         <div class="menu_section">
          <h3>Evalucion</h3>
          <ul class="nav side-menu">
            
            <li><a><i class="fa fa-check-square-o"></i> Seleccion <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li>
                  <%=link_to "Nuevo Clientes", new_evaluation_path %>
                </li>
                <li>
                  <%=link_to "Listar Clientes", evaluations_path %>
                </li>
              </ul>
            </li>
          </ul>
        </div>

         <div class="menu_section">
          <h3>Documentacion</h3>
          <ul class="nav side-menu">
            
            <li><a><i class="fa fa-file-text-o"></i> Reportes <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li>
                  <%=link_to "Nuevo Clientes", new_employee_path %>
                </li>
                <li>
                  <%=link_to "Listar Clientes", employees_path %>
                </li>
              </ul>
            </li>
          </ul>
        </div>

      </div>
      <!-- /sidebar menu -->

      <!-- /menu footer buttons -->
      <div class="sidebar-footer hidden-small">
        <a data-toggle="tooltip" data-placement="top" title="Settings">
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
          <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Lock">
          <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Logout">
          <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
      </div>
      <!-- /menu footer buttons -->
    </div>
  </div>
  </div>

